    <div class="content-wrapper text-left">
        <div class="col-lg-6 col-lg-offset-3">
            <p>Op naar Enschede! op 20 oktober 2021 is er weer een FOSS4GNL. Zoals het er nu voor staat (de demissionaire premier heeft net gezegd dat er geen beperkingen meer zijn voor het onderwijs dit jaar, behalve 75 mensen per zaal) kunnen we een mooie on-site conferentie tegemoet zien.

                  <p>Naast de conferentie op de 20e is er op de 19e ook een middag met workshops. De focus ligt op "beginnen met...". Wil je zelf zo'n workshopje verzorgen (of helpen): roep het! En je hoeft je daarbij zeker niet te beperken tot QGIS of PostGIS, er zijn zo ontzettend veel OSGeo projecten die de moeite waard zijn! Ben je juist op zoek naar workshop over een specifieke tool, roep het dan ook... dan proberen we er nog een workshopgever bij te zoeken.
</p>

            <p>Die middag is bewust: zo kan iedereen er op tijd zijn, ook de mensen voor wie Enschede wat ver reizen is. Je kan dan ook overnachten in Enschede, zodat je de 20e ook de conferentie bij kan wonen. Het zijn wel nadrukkelijk twee verschillende activiteiten, je kan ook (vanaf 15 september) er apart kaartjes voor bestellen. </p>

       
        </div>
    </div>
