    <div class="content-wrapper text-left">
        <div class="col-lg-6 col-lg-offset-3">
            <p>Op naar Enschede! Op 20 oktober 2021 is er weer een FOSS4GNL. Zoals het er nu voor staat (geen beperkingen meer voor het onderwijs dit jaar, behalve 75 mensen per zaal) kunnen we een mooie on-site conferentie tegemoet zien. En we hebben een prachtig en divers programma voor je, met onder andere 2 keynotes en 24 presentaties verdeeld over 3 tracks.

            <p>Naast de conferentie op de 20e is er op de 19e ook een middag met workshops georganiseerd.</p>

            <p>De keuze voor workshops in de middag is overigens bewust: zo kan iedereen er op tijd zijn, ook de mensen voor wie Enschede wat ver reizen is. Je kan dan ook overnachten in Enschede, zodat je de 20e ook de conferentie bij kan wonen. Het zijn wel nadrukkelijk twee verschillende activiteiten, met verschillende tickets. </p>
			
			<p>Let op, we vragen je bewijs mee te nemen (CoronaCheck app or CoronaCheck.nl) dat je gevaccineerd bent, corona hebt gehad, of recentelijk negatief bent getest voor corona. Zonder bewijs geen toegang.</p>
			
			<p>The open-source geo-information community would like to welcome you in Enschede on the 20th of October for the FOSS4GNL 2021! With restrictions lifted we can look forward to a great on-site conference with an exciting and very diverse program, including three tracks, 24 talks, 2 keynotes. Check out the program to find your favorite talks!</p>
			
			<p>And there is more. On the 19th in the afternoon there will be 4 workshops, focused on guiding you into the world of open source technology and data. To order tickets for the main conference and individual workshops (separate tickets), click on the ticket button above.</p>
			
			<p>Note that to attend the conference, we ask you to bring proof (CoronaCheck app or CoronaCheck.nl) that you've been vaccinated, you’ve had corona or that you’ve recently tested negative for corona.</p>

			
			
			
        </div>
    </div>
